/*CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

nav { 
    z-index: 1;
    width: 100%; 
    min-height: 30px; 
    padding: 17px; 
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #231B80;
}

.logo {
    display: flex;
}

.logo h3 {
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    align-self: center;
    font-size: 25px;
    color: white;;
}

.nav-links ul {
    display: flex;
    width: 35vw;
    justify-content: space-between;
    align-self: center;
}

.nav-links ul li {
    list-style-type: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.nav-links ul li a:hover {
    color: #bab4ff;
}

.btn-light {
    background-color: #1501FF;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.btn-light:hover {
    background-color: #3120eb;
    color: white!important;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.btn-dark {
    background-color: #09034A;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.btn-dark:hover {
    background-color: #090068;
    color: white!important;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.btn-darkest {
    background-color: #0A0546;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    font-weight: bolder;
}

.btn-darkest:hover {
    background-color: #080152;
    color: white!important;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.toggle-btn {
    height: 40px;
    width: 40px;
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer
}

.toggle-btn svg {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 900px) {
/* Mobile Devices */
    nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;

    }
    .nav-links ul {
        display: none;
        flex-direction: column;
        width: 100vw;
        padding: 7px;
    }

    .nav-links ul li {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
    }

    .toggle-btn {
        display: block;
    }

    .nav-links ul.active {
        display: flex;
    }

}

/* Just straighten things out at awkward media points*/
@media only screen and (max-width: 1000px) {

    .nav-links ul {
        min-width: 40vw;
    }

    .instructor-section .wrapper .author-box .author-text {
        width: 100%;
        font-size: 15px;
    }

}

/* First Page start */
.first-page {
    /* border: 3px solid red; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.first-page .wrapper {
    /* border: 3px solid teal; */
    width: 80vw;
}

.first-page .wrapper img {
    width: 100%;
    border-radius: 15px;
}

.first-page .wrapper .text-description {
    width: 100%;
    /* border: 3px solid orange; */
}

.first-page .wrapper .text-description h2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 20px;
}

/* Instructor Page start */
.instructor-section {
    min-height: 60vh;
    /* border: 3px solid brown; */
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.instructor-section .wrapper {
    /* border: 3px solid orchid; */
    width: 80vw;
}

/* .instructor-section .wrapper .title {
    border: 5px solid green;
} */

/* .instructor-section .wrapper .title h2 {
   font-size: 23px;
   padding: 0 0 10px 30px;
   font-weight: bold;
} */


.instructor-section .wrapper .author-box {
    /* border: 5px solid green; */
    /* height: 20px; */
    display: flex;
}

.instructor-section .wrapper .author-box .author-img {
    /* border: 5px solid green; */
    min-height: 40vh;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructor-section .wrapper .author-box .author-img h2 {
    font-size: 23px;
    /* padding: 0 0 10px 30px; */
    font-weight: bold;
    padding-bottom: 10px;
}

.instructor-section .wrapper .author-box .author-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* height: 40vh; */
}

.instructor-section .wrapper .author-text {
    /* border: 5px solid green; */
    /* min-height: 40vh; */
    width: 75%;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 7px 0 0 5vw;
}

@media only screen and (max-width: 800px) {

    .instructor-section .wrapper .author-box {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }

    .instructor-section .wrapper .author-box .author-img {
        width: 100%;
    }

    .instructor-section .wrapper .author-box .author-text {
        width: 100%;
        font-size: 15px;
    }
}
 
/* Course Curriculum */
.course-curriculum {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.course-curriculum .container {
    /* border: 3px solid red; */
    min-height: 80vh;
    width: 80%;
}

.course-curriculum .container .sub-section {
    padding-bottom: 20px;
}

.course-curriculum .container .sub-section .title {
    height: 42px;
    background-color: #08024A;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.course-curriculum .container .sub-section .content {
    height: 42px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    transition: 0.7s ease;
    cursor: pointer;
}

.course-curriculum .container .sub-section .content:hover {
    background-color: rgb(168, 191, 255);
}

.enrol {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/enrol-bg.png');
    background-size: cover;
}

.enrol .wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    width: 80vw;
}

.enrol .wrapper p {
    font-size: 30px;
}

.enrol .wrapper small {
    font-size: 15px;
    color: rgb(219, 217, 217);
}

.enrol .wrapper a {
    width: 100px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.enrol .wrapper a {
    text-decoration: none;
}


footer {
    min-height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}